body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	display: flex;
  	flex-direction: column;
  	min-height: 100vh;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

label {
	margin-bottom: 5px;
}

input {
	padding: 10px;
	margin-bottom: 10px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
	color: #333;
}

.container form label[for="product-description"] {
    display: block;
    margin-top: 10px;
  }
  
  .container form textarea {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 16px;
    resize: none;
  }

  footer {
	margin-top: auto;
	background-color: #eee;
	text-align: center;
	padding: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
  }